<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="{% url 'logout' %">Logout</a>
            </li>
            <li>
                <a href="{% url 'signup' %">Sign up</a>
            </li>
            <li>
                <a href="{% url 'login' %">Login</a>
            </li>

        </ul>
    </nav>
</header>
</body>
</html>
