<!-- make sure "templates" directory is exact as is need to == "tempaltes" -->
<!-- remember tags need to be lower case and it is case sensitive when running tests -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
</head>
<body>
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt in my_receipts_list %}
                      <!--                  ^                 -->
                    <!-- # context reference in views line 9 eg. "receipts_list" -->
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax}}</td>
                        <td>{{ receipt.date|date:"m/d/y" }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name}}</td>
                        <!--                     ^                -->
                        <!-- Don't forget to add the date name    -->
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
    </main>
</body>
</html>
